<%- include("../partials/head") %>

  <header>
    <nav>
      <figure class="brand">
        <a href="/">
          <img src="/img/brand/ghost-logo.svg" alt="DHaunters Logo" />
        </a>
      </figure>
      <p>
        <a href="/user/"> Volver al Perfil </a>
      </p>
    </nav>
  </header>

  <main>
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
      <% for (let error in errors) { %>
        <li><%=error.msg%></li>
      <% } %>
      </ul>
    </div>
  <% } %>

    <form action="/user/delete" method="POST">
      <div>
        <input 
        type="text" 
        name="user_name" 
        id="user_name" 
        placeholder="Ingrese su nombre de usuario"
      <%if(locals.old){%>
        value="<%= req.old.user_name %>"
      <% } %> >

        <input 
        type="password" 
        name="password" 
        id="password" 
        placeholder="Ingrese su contraseña" 
      <%if(locals.old){%>
        value="<%= req.old.password %>"
      <%}%> >
      </div>
      
      <button type="submit">
        Eliminar
      </button>
    </form>
  </main>

  <%- include("../partials/close") %>